.main-container.grid-page, body:has(> .main-container.grid-page) {
    background-color: #DC0A2D;
}

.grid-page-main {
    flex: 1;
    background-color: white;
    padding: 24px 12px 12px;
    border-radius: 20px;
    margin: 0 5px 5px;
}

.filters {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 20px;
}
