.custom-select {
    position: relative;
}
.custom-select .trigger-button {
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}


.custom-select-dropdown {
    display: none;
    position: absolute;
    right: 0;
    z-index: 10;
    padding: 5px;
    border-radius: 10px;
    min-width: 150px;
    top: 120%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.custom-select-dropdown.shown {
    display: block;
}

.custom-select-dropdown .legend {
    font-weight: bold;
    margin: 15px 0 15px 15px;
}

.custom-select-dropdown .radio-group {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.custom-select-dropdown label {
    display: block;
    color: #1D1D1D;
}

.custom-select-dropdown input {
    margin-right: 10px;
}

.custom-select-open-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}
.custom-select-open-overlay.shown {
    display: block;
}