.search-box-container {
    position: relative;
    flex-grow: 1;
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
}

.search-box {
    width: 100%;
    border: none;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    padding: 8px 16px 8px 40px;
}

.magnifying-glass {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
}
