* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

input {
  font-family: "Poppins", sans-serif;
}

.inner-shadow {
  box-shadow: 0 1px 3px 1px #00000040 inset;
}